* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

body {
    background-image: url(../img/FondoInicio.gif) !important;
    background-size: cover;
    background-repeat: no-repeat;
}

html, body {
    margin: 0px;
    height: 100%;
}

.imgLogo {
    max-width: 249px;
    width: 100%;
}

.contenedorMenu {
    display: flex;
    align-self: center;
    background-color: #000000;
}
 /*tamaño y posicion del boton*/
 .sesion {
    text-align: center;
    height: 100%;
    padding: 2%;
}

/*Pie de pagina*/
.footer-basic {
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
    height: 12%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.tituloPagina {
    color: #c5b66e;
    font-size: 20px;
}

.bg-negro-reportes {
    background-color: #343a40a6 !important;
}

.link {
    color: #A67A44;
    font-size: 14px;
    padding: 1em;
    cursor: pointer;
}

.botoncrear {
    border-width: 1px 1px 1px 1px;
    border-radius: 50px;
    background: #A67A44;
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    min-width: 100px;
}

.botoncrear:hover {
    background: white;
    color: black;
}
.boton {
    text-decoration: none;
    width: 110px;
    font-weight: 600;
    font-size: 15px;
    height: 35px;
    color: white;
    background-color: #A67A44;
    border-radius: 6px;
    border: 1px;
}

.botonlogin{
    padding: 10px;
    z-index: 16;
 }
 .botonlogin:hover{
    text-decoration: none;
    background-color: white;
    color: #A67A44;
 }
