/*posiciona donde esta la parte negra*/
.info{
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    font-size: 18px;
    width: 35%;
    border-radius: 2em;
    padding-left: 10px;
}
/*la parte del filtro*/
.contenedorPrinc{
    width:100%;
   align-self: center;
   padding-left: 10%;
   padding-top: 1%;
}
/*posiciona la parte del filtro*/
.cont-Princi-izq{
    width: 82%;
    float: left;
    height: 30px;
}
/* texto del input*/
.texto{
    font-size: 18px;
    float: left;
    padding-inline-end: 10px;
}
/*tamaño de los input*/
.cajastexto{
    background-color: rgb(197, 197, 197);
    width: 70px;
    border: 1px;
    border-color: rgb(197, 197, 197);
    border-radius: 2em;
    float: left;
    padding-right: 50px;
    height: 25px;
}
/*cambia la posicion del boton agregar*/
.botonImg{
    cursor: pointer;
    color: #ffffff;
    padding-left: 61px;
    height: 23px;
    position: absolute;
    z-index: 1;
}
/*centrar y ancho de la tabla*/
  table{
    margin: 0 auto;
      width: 80% !important;
  }
/*cambiar los valores para agregar la barra desplazadora*/
  thead, tbody { 
      display: block;
     }
/*agrega la barra desplazadora y el tamaño minimo de la tabla*/     
tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
/*centra el texto y imangenes de la tabla*/
th,td{
    text-align: center !important;  
}
/*ESPACIOS DE LA TABLA */
/*|-----------------------------------------------------------------------|*/
/*indicador*/
.num{
    width: 1%;
}
/*nombre*/
.nom{
    width: 175px;
}
/*apartamento*/
.apar{
    width: 162px;
}
/*correo*/
.corr{
    width: 255px;
}
/*notificar*/
.adv{
    width: 140px;
}
/*editar*/
.edi{
    width: 110px;
}
/*eliminar*/
.bor{
    width: 118px;
}
/*|-----------------------------------------------------------------------|*/
/*ESTILOS DE LOS MENUS*/
/*PARTE PRINCIPAL DEL MENU*/
/*|------------------------------------------------------------------|*/
/*parte superior del menu*/
.contenedorMenu {
    display: flex;
    align-self: center;
    background-color: #0e121b;
    position: sticky;
    top: 0;
    z-index: 1;
}

/*color del titulo en la parte superior izquierda*/
.tituloPagina {
    display: flex;
    color: #c5b66e;
    font-size: 25px;
    float: left;

}

/*logo conjuntomio*/
.imgLogo {
    max-width: 249px;
    width: 100%;
    height: 90px;
    padding: 5px;
}

/*|------------------------------------------------------------------|*/

/*oculta el boton checkbox*/
input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

/*permite que pueda ser seleccionado el boton de menu*/
label[for="abrir-cerrar"] {
    cursor: pointer;
    padding-top: 23px;
    display: inline-block;
}

/*el espacio que ocupa el menu desplegable ademas de la posicion que ocupa*/
input#abrir-cerrar:checked~#sidebar {
    width: 268px;
    margin-top: 46px;
    position: absolute;
    height: max-content;
}

/* mantiene en la posicion adecuada el menu*/
.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0e121b;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
}

/*el tamaño del menu desplegable*/
.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px;
    min-height: 400px;
}

/*el tamaño de los links del menu despegable*/
.sidebar a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    padding: 5px;

}

/*permite alinear las imagenes de los iconos con los enlaces*/
.sidebar img {
    display: block;
    float: left;
    padding-top: 8px;
    padding-right: 15px;
}


/*cambia a la posicion derecha */
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}


/*cambiar el color cuando el mouse pase los links y la linea inferior*/
a:hover {
    color: #A67A44 !important;
    text-decoration: none !important;
}

/*cambia el color cuando de click en los botones de perfil*/
.dropdown-item:active {
    background-color: #A67A44 !important;
    color: #ffffff !important;
}

/*quitar el asterisco que aparece en la parte izquierda de las opciones del menu desplegable*/
ul, ol {
    list-style: none;
}

label {
    margin-bottom: 0px !important;
}

@media (max-width: 992px) {
    .imgIcon {
        padding-right: 10px;
    }
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arimo' !important;
    font-size: 15px !important;
    background-image: url(../img/prueba.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 100%;
}

/*Centro de la pagina*/
main {
    width: 100%;
    height: 76%;
}

/*Pie de pagina*/
.footer-basic {
    padding: 10px 0;
    background-color: #000000;
    color: #ffffff;
    height: 12%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

/*BOTONES BTN Y BTN-PRIMARY*/
/*|------------------------------------------------------------------|*/
/*boton inicial*/
.btn-primary {
    border: 1px solid #A67A44 !important;
    color: white;
    background-color: #A67A44 !important;
    box-shadow: none !important;
}

/*boton cuando se pone coloca el mouse frente*/
.btn-primary:hover {
    color: #A67A44 !important;
    background-color: #f5f4f4 !important;
    border: 1px solid #A67A44 !important;
    box-shadow: none !important;

}

/*cuando esta en reposo*/
.btn-primary:link {
    border: 1px solid #A67A44 !important;

    background-color: #A67A44 !important;
    box-shadow: none !important;
}

/*cuando se hace click*/
.btn-primary:active {
    color: white !important;
    background-color: #A67A44 !important;
    box-shadow: none !important;
}

/*|------------------------------------------------------------------|*/
/*img del atras*/
.botonatras {
    float: left;
    display: flex;
    padding-left: 70px;
    padding-top: 20px;
}

.Atras {
    color: #A67A44 !important;
}

.Atras:hover {
    color: #ffffff !important;
}

/*boton*/
button {
    text-decoration: none;
    font-weight: 600;
    height: 36px;
    background-color: #A67A44;
    border-radius: 6px !important;
    border: 1px;
}


.labelcolor {
    color: #c5b66e;
}

.buttonEditarReportes {
    text-decoration: none;
    padding: 9px;
    color: #ffffff !important;
    background-color: black !important;
    border-radius: 10px !important;
    border: 1px;
}

.bg-negro-reportes {
    background-color: #343a40a6 !important;
}

.form-anuncios {
    margin: 0;
    padding: 0;
}

.nav-link {
    display: inline !important;
}
.navbar{
    position: sticky !important;
    top: 0;
    z-index: 1;
}
.iconNotification{
    animation: notification 2s infinite;
}
@keyframes notification {
    5% {transform: rotate(10deg);}
    10% {transform: rotate(-10deg);}
    15% {transform: rotate(10deg);}
    20% {transform: rotate(0deg);}
}
@media (min-width: 992px) {
    .navbar-expand-lg {
        height: 12%;
    }
}
@media (max-width: 991.98px) {
    main {
        width: 100%;
        height: 82%;
    }
}
.mainForm{
    min-height: 82vh;
}

.table-fixed tbody {
    height: 230px;
    overflow-y: auto;
    width: 100%;
  }

  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed tfoot,
  .table-fixed tr,
  .table-fixed td,
  .table-fixed th {
    display: block;
  }

  .table-fixed tbody td,
  .table-fixed thead > tr> th,
  .table-fixed tfoot > tr> td{
    float: left;
    border-bottom-width: 0;
  }

  .toast{
      background-color: #000000 !important;
      color: white;
  }
  .btn-close{
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: white;
    border: 0;
    border-radius: 0.25rem;
    opacity: .9;
    background-color: transparent;
  }
  .btn-close:hover {
    color: #A67A44 !important;
}
.fade {
    transition: opacity .15s linear;
}
